@using PersonalAccount.Data.Models
@model List<int>
@{
    ViewData["Title"] = "TestView";
}

<!DOCTYPE HTML>
<head>

</head>
<body>
    @{
        foreach (var item in Model)
        {
            <div>
                <h2>@item</h2>
            </div>
        }
    }
    <h1>List of.......</h1>
</body>