@{
    ViewData["Title"] = "Главная страница";
    Layout = "_Master";
}

<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <style>

        
    </style>

</head>

<body>
    <a href="/Account/Students">
        <input type="button" class="btn btn-primary" value="Info Page">
    </a>

    <a href="/Test/TestView">
        <input type="button" class="btn btn-primary" value="Test Page">
    </a>

    <script>
        $(function () {
            $('#btn_login').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/Login",
                    data: {
                        "login": $("#login").val(),
                        "password": $("#password").val(),
                    },
                    success: function (result) {
                        if (result == true)
                            document.location.href = "/Account/Students"
                        else
                            $("#l_result").text("Неверный логин или пароль")
                    },
                });
            });
        });
    </script>

</body>
</html>