@{
    ViewBag.Title = "Index";
}

@using System.Web.Mvc.Ajax;
@using System.Web.Mvc;

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

<div>
    @*@using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="results"></div>
    @Lib.Render("~/lib/jquery/jquery.js")
    @Lib.Render("~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js")*@
</div>